<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Javascript Calculator" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app.component.css">

    <title>{{title}}</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <br/>
    <form id="myform" Name="calc">
        <input type="text" [(ngModel)]='displayValue'
        name="display" style="width:675px;height:100px;text-align:center;
        background-color:#1f80c9;" > <br/>
        <button class="btn btn-primary" (click)="calculate(num0)">{{num0}}</button>
        <button class="btn btn-primary" (click)="calculate(num1)">{{num1}}</button>
        <button class="btn btn-primary" (click)="calculate(num2)">{{num2}}</button>
        <button class="btn btn-primary" (click)="calculate(signPlus)"
        style="background-color: #cc5c11;">{{signPlus}}</button> <br/>
        <button class="btn btn-primary" (click)="calculate(num3)">{{num3}}</button>
        <button class="btn btn-primary" (click)="calculate(num4)">{{num4}}</button>
        <button class="btn btn-primary" (click)="calculate(num5)">{{num5}}</button>
        <button class="btn btn-primary" (click)="calculate(signMinus)"
        style="background-color: #ba55d3;">{{signMinus}}</button> <br/>
        <button class="btn btn-primary" (click)="calculate(num6)">{{num6}}</button>
        <button class="btn btn-primary" (click)="calculate(num7)">{{num7}}</button>
        <button class="btn btn-primary" (click)="calculate(num8)">{{num8}}</button>
        <button class="btn btn-primary" (click)="calculate(signMultiply)"
        style="background-color: #7db1b2;">{{signMultiply}}</button> <br/>
        <button class="btn btn-primary" (click)="calculate(num9)">{{num9}}</button>
        <button class="btn btn-primary" (click)="calculate(signClear)"
        style="background-color:#cc0000;">{{signClear}}</button>
        <button class="btn btn-primary" (click)="calculate(signEqual)">{{signEqual}}</button>
        <button class="btn btn-primary" (click)="calculate(signDivide)"
        style="background-color:green;">&#247;</button>
    </form>

</body>
</html>
